In [3]:
# imports and setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# load raw data
pd.set_option("display.max_columns", None)

In [5]:
# initial inspection
customers = pd.read_csv("raw_data/customers_data.csv")
products = pd.read_csv("raw_data/products_data.csv")
transactions = pd.read_csv("raw_data/transactions_data.csv")

In [6]:
# check data structures and types
print(customers.head())
print(products.head())
print(transactions.head())

   Company_ID          Company_Name  Company_Profit  \
0         1.0  Tech  Enterprises  1         80701.0
1         2.0   Global  Partners  2         80511.0
2         3.0  Quantum Associates 3        110664.0
3         4.0       Prime Network 4             NaN
4         5.0    Elite  Ventures  5         69427.0

                                             Address
0             EDSA, Barangay 606, Pasig, Philippines
1  Commonwealth Ave, Barangay 789, Taguig, Philip...
2       Roxas Blvd, Barangay 505, Pasig, Philippines
3  Alabang-Zapote Rd, Barangay 202, Taguig, Phili...
4    Ayala Avenue, Barangay 101, Makati, Philippines
   Product_ID            Product_Name Product_Price
0         1.0      FinPredictor Suite      ?140,000
1         2.0  MarketMinder Analytics      ?168,000
2         3.0    TrendWise Forecaster      ?100,800
3         4.0  CustomerScope Insights      ?123,200
4         5.0     SalesSync Optimizer       ?84,000
   Unnamed: 0  Transaction_ID  Company_ID  Product_ID  Quantity  \
0         0.0             1.0        88.0         6.0       NaN
1         1.0             2.0        29.0        19.0      16.0
2         2.0             NaN        28.0        18.0       6.0
3         3.0             4.0        85.0        12.0      12.0
4         4.0             5.0        47.0         3.0       8.0

  Transaction_Date  Product_Price  Total_Cost
0       2024/03/26  194379.147964   1075200.0
1    July 09, 2024   97930.993380   1428000.0
2       04/13/2024  126095.547778    940800.0
3       09-06-2023            NaN   1008000.0
4       07/06/2021   99575.609634    705600.0

In [7]:
# missing values and analysis
print (customers.info())
print (products.info())
print (transactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      90 non-null     float64
 1   Company_Name    100 non-null    object
 2   Company_Profit  88 non-null     float64
 3   Address         100 non-null    object
dtypes: float64(2), object(2)
memory usage: 3.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     18 non-null     float64
 1   Product_Name   20 non-null     object
 2   Product_Price  20 non-null     object
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        9000 non-null   float64
 1   Transaction_ID    9000 non-null   float64
 2   Company_ID        9000 non-null   float64
 3   Product_ID        9000 non-null   float64
 4   Quantity          9000 non-null   float64
 5   Transaction_Date  10000 non-null  object
 6   Product_Price     9000 non-null   float64
 7   Total_Cost        9000 non-null   float64
dtypes: float64(7), object(1)
memory usage: 625.1+ KB
None

In [8]:
# check duplicates
print (customers.isna().sum())
print (products.isna().sum())
print (transactions.isna().sum())

Company_ID        10
Company_Name       0
Company_Profit    12
Address            0
dtype: int64
Product_ID       2
Product_Name     0
Product_Price    0
dtype: int64
Unnamed: 0          1000
Transaction_ID      1000
Company_ID          1000
Product_ID          1000
Quantity            1000
Transaction_Date       0
Product_Price       1000
Total_Cost          1000
dtype: int64

In [9]:
# summary statistics
print (customers.describe())
print (products.describe())
print (transactions.describe())

       Company_ID  Company_Profit
count   90.000000       88.000000
mean    51.944444    76400.500000
std     28.684397    27296.169253
min      1.000000    30663.000000
25%     27.500000    52648.500000
50%     53.500000    75301.500000
75%     76.750000   101089.750000
max    100.000000   118114.000000
       Product_ID
count   18.000000
mean    10.333333
std      6.077925
min      1.000000
25%      5.250000
50%     10.500000
75%     14.750000
max     20.000000
        Unnamed: 0  Transaction_ID   Company_ID   Product_ID     Quantity  \
count  9000.000000     9000.000000  9000.000000  9000.000000  9000.000000
mean   4994.049111     5005.177556    50.583556    10.446778    10.528778
std    2885.331476     2894.971964    28.900870     5.768341     5.808062
min       0.000000        1.000000     1.000000     1.000000     0.000000
25%    2501.750000     2491.750000    25.000000     5.000000     6.000000
50%    4997.500000     5005.000000    50.000000    10.000000    11.000000
75%    7477.250000     7527.250000    76.000000    15.000000    16.000000
max    9999.000000     9999.000000   100.000000    20.000000    21.000000

       Product_Price    Total_Cost
count    9000.000000  9.000000e+03
mean   134652.802537  1.424246e+06
std     39058.106978  9.086274e+05
min     75613.362923  8.400000e+04
25%    100686.369472  6.720000e+05
50%    131297.783516  1.344000e+06
75%    162221.485713  1.965600e+06
max    246279.050335  4.480000e+06

In [10]:
## Data Quality Issues Identified

### customers_data.csv
#Missing values in Company_ID (10 rows)
#Missing values in Company_Profit (12 rows)

### products_data.csv
#Missing values in Product_ID (2 rows)

### transactions_data.csv
#Missing values in multiple numeric columns (1000 rows)
#Inconsistent date formats in Transaction_Date
#Extra column: Unnamed: 0

In [11]:
#Remove unnamed column from transactions csv
transactions = transactions.drop(columns=["Unnamed: 0"])

In [12]:
#fix data types of transactions csv
id_cols = ["Company_ID", "Product_ID", "Transaction_ID"]

for col in id_cols:
    transactions[col] = transactions[col].astype("Int64")

In [13]:
#standardize dates of transactions csv
transactions["Transaction_Date"] = pd.to_datetime(
    transactions["Transaction_Date"],
    errors="coerce"
)

In [14]:
#re-check transactions csv
transactions.info()
transactions.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    9000 non-null   Int64
 1   Company_ID        9000 non-null   Int64
 2   Product_ID        9000 non-null   Int64
 3   Quantity          9000 non-null   float64
 4   Transaction_Date  2520 non-null   datetime64[ns]
 5   Product_Price     9000 non-null   float64
 6   Total_Cost        9000 non-null   float64
dtypes: Int64(3), datetime64[ns](1), float64(3)
memory usage: 576.3 KB

Transaction_ID      1000
Company_ID          1000
Product_ID          1000
Quantity            1000
Transaction_Date    7480
Product_Price       1000
Total_Cost          1000
dtype: int64

In [15]:
#inspect structure customer csv
customers.info()
customers.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      90 non-null     float64
 1   Company_Name    100 non-null    object
 2   Company_Profit  88 non-null     float64
 3   Address         100 non-null    object
dtypes: float64(2), object(2)
memory usage: 3.3+ KB

Company_ID        10
Company_Name       0
Company_Profit    12
Address            0
dtype: int64

In [16]:
# Fix ID data type from customer csv
customers["Company_ID"] = customers["Company_ID"].astype("Int64")

In [17]:
# re-check customer csv
customers.info()
customers.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      90 non-null     Int64
 1   Company_Name    100 non-null    object
 2   Company_Profit  88 non-null     float64
 3   Address         100 non-null    object
dtypes: Int64(1), float64(1), object(2)
memory usage: 3.4+ KB

Company_ID        10
Company_Name       0
Company_Profit    12
Address            0
dtype: int64

In [18]:
#inspect product csv
products.info()
products.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     18 non-null     float64
 1   Product_Name   20 non-null     object
 2   Product_Price  20 non-null     object
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

Product_ID       2
Product_Name     0
Product_Price    0
dtype: int64

In [19]:
#fix ID data type from products cvv
products["Product_ID"] = products["Product_ID"].astype("Int64")

In [20]:
#recheck prodcut csv
products.info()
products.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     18 non-null     Int64
 1   Product_Name   20 non-null     object
 2   Product_Price  20 non-null     object
dtypes: Int64(1), object(2)
memory usage: 632.0+ bytes

Product_ID       2
Product_Name     0
Product_Price    0
dtype: int64

In [21]:
#check relationship between the tables

In [22]:
#transactions with missing Company_ID
transactions_missing_company = transactions[transactions["Company_ID"].isna()]
transactions_missing_company.shape

(1000, 7)

In [23]:
#check transactions whose Company_ID does not exist in customers table
transactions_invalid_company = transactions[
    ~transactions["Company_ID"].isin(customers["Company_ID"])
]
transactions_invalid_company.shape

(1879, 7)

In [24]:
# inspect few rows from the transactions_missing_company
transactions_invalid_company.head()

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
2,<NA>,28,18,6.0,NaT,126095.547778,940800.0
6,7,<NA>,<NA>,14.0,2023-11-01,133548.749710,1960000.0
10,11,6,16,6.0,NaT,98263.850401,532000.0
11,12,<NA>,1,17.0,NaT,135382.949609,2520000.0
12,13,<NA>,12,15.0,NaT,82352.482649,1260000.0

In [25]:
# transactions with Product_ID missing
transactions_missing_product = transactions[transactions["Product_ID"].isna()]
transactions_missing_product.shape

(1000, 7)

In [26]:
# transactions whose Product_ID does not exist in products table
transactions_invalid_product = transactions[
    ~transactions["Product_ID"].isin(products["Product_ID"])
]
transactions_invalid_product.shape

(1894, 7)

In [27]:
transactions_invalid_product.head()

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
6,7,<NA>,<NA>,14.0,2023-11-01,133548.749710,1960000.0
10,11,6,16,6.0,NaT,98263.850401,532000.0
30,31,16,16,20.0,NaT,109347.017504,2021600.0
33,34,92,8,11.0,2024-02-27,141578.710506,1814400.0
36,37,<NA>,8,17.0,NaT,139881.217277,NaN

In [28]:
#Create a quality flag table transactions csv
transactions_qc = transactions.copy()

transactions_qc["missing_company"] = transactions_qc["Company_ID"].isna()
transactions_qc["invalid_company"] = ~transactions_qc["Company_ID"].isin(customers["Company_ID"])

transactions_qc["missing_product"] = transactions_qc["Product_ID"].isna()
transactions_qc["invalid_product"] = ~transactions_qc["Product_ID"].isin(products["Product_ID"])

transactions_qc["missing_price"] = transactions_qc["Product_Price"].isna()
transactions_qc["missing_date"] = transactions_qc["Transaction_Date"].isna()

In [29]:
#define usable rule (logical mask) transactions csv
usable_transactions = transactions_qc[
    ~transactions_qc["missing_company"] &
    ~transactions_qc["invalid_company"] &
    ~transactions_qc["missing_product"] &
    ~transactions_qc["invalid_product"] &
    ~transactions_qc["missing_price"] &
    ~transactions_qc["missing_date"]
]

In [30]:
#compare transactions csv
transactions.shape
usable_transactions.shape

(1485, 13)

In [31]:
# snapshot (starting point)
transactions_raw = transactions.copy()
customers_raw = customers.copy()
products_raw = products.copy()

In [32]:
# create quality-flag table (working copy)
transactions_qc = transactions_raw.copy()

transactions_qc["missing_company"] = transactions_qc["Company_ID"].isna()
transactions_qc["invalid_company"] = ~transactions_qc["Company_ID"].isin(customers_raw["Company_ID"])

transactions_qc["missing_product"] = transactions_qc["Product_ID"].isna()
transactions_qc["invalid_product"] = ~transactions_qc["Product_ID"].isin(products_raw["Product_ID"])

transactions_qc["missing_price"] = transactions_qc["Product_Price"].isna()
transactions_qc["missing_date"] = transactions_qc["Transaction_Date"].isna()

In [33]:
#create a "usable" definition
usable_mask = (
    ~transactions_qc["missing_company"] &
    ~transactions_qc["invalid_company"] &
    ~transactions_qc["missing_product"] &
    ~transactions_qc["invalid_product"] &
    ~transactions_qc["missing_price"] &
    ~transactions_qc["missing_date"]
)

usable_transactions = transactions_qc[usable_mask].copy()

In [34]:
#compre counts
print("Original transactions rows:", transactions_raw.shape[0])
print("QC table rows:", transactions_qc.shape[0])
print("Usable transactions rows:", usable_transactions.shape[0])
print("Removed rows:", transactions_qc.shape[0] - usable_transactions.shape[0])

Original transactions rows: 10000
QC table rows: 10000
Usable transactions rows: 1485
Removed rows: 8515

In [35]:
#showing why rows are failing
flag_cols = [
    "missing_company", "invalid_company",
    "missing_product", "invalid_product",
    "missing_price", "missing_date"
]

transactions_qc[flag_cols].sum().sort_values(ascending=False)

missing_date       7480
invalid_product    1894
invalid_company    1879
missing_company    1000
missing_product    1000
missing_price      1000
dtype: Int64

In [36]:
#inspect bad rows before removing
bad_transactions = transactions_qc[~usable_mask].copy()
bad_transactions.head(20)

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost,missing_company,invalid_company,missing_product,invalid_product,missing_price,missing_date
1,2,29,19,16.0,NaT,97930.993380,1428000.0,False,False,False,False,False,True
2,<NA>,28,18,6.0,NaT,126095.547778,940800.0,False,True,False,False,False,True
3,4,85,12,12.0,NaT,NaN,1008000.0,False,False,False,False,True,True
4,5,47,3,8.0,NaT,99575.609634,705600.0,False,False,False,False,False,True
6,7,<NA>,<NA>,14.0,2023-11-01,133548.749710,1960000.0,True,True,True,True,False,False
7,8,21,20,7.0,NaT,229217.941468,1792000.0,False,False,False,False,False,True
8,9,96,1,14.0,NaT,144758.783254,NaN,False,False,False,False,False,True
9,10,3,20,6.0,NaT,238293.851303,1120000.0,False,False,False,False,False,True
10,11,6,16,6.0,NaT,98263.850401,532000.0,False,True,False,True,False,True
11,12,<NA>,1,17.0,NaT,135382.949609,2520000.0,True,True,False,False,False,True
12,13,<NA>,12,15.0,NaT,82352.482649,1260000.0,True,True,False,False,False,True
13,14,36,1,4.0,NaT,141186.036409,560000.0,False,True,False,False,False,True
14,15,66,12,17.0,NaT,79380.520592,1428000.0,False,False,False,False,False,True
15,16,43,7,1.0,NaT,NaN,302400.0,False,False,False,False,True,True
16,17,27,12,16.0,NaT,85093.636192,1428000.0,False,False,False,False,False,True
17,<NA>,57,10,6.0,2022-07-10,NaN,627200.0,False,False,False,False,True,False
18,19,76,3,19.0,NaT,106544.979259,1814400.0,False,False,False,False,False,True
19,20,52,20,NaN,NaT,222889.922955,3808000.0,False,True,False,False,False,True
21,<NA>,25,18,2.0,NaT,123745.158042,NaN,False,False,False,False,False,True
22,23,46,17,NaN,NaT,160605.710632,1176000.0,False,False,False,False,False,True

In [37]:
#count how many rows have issue
transactions_qc[[
    "missing_company", "invalid_company",
    "missing_product", "invalid_product",
    "missing_price", "missing_date"
]].sum()

missing_company    1000
invalid_company    1879
missing_product    1000
invalid_product    1894
missing_price      1000
missing_date       7480
dtype: Int64

In [38]:
# Define a "usable" row rule for transactions csv
usable_mask = (
    ~transactions_qc["missing_company"] &
    ~transactions_qc["invalid_company"] &
    ~transactions_qc["missing_product"] &
    ~transactions_qc["invalid_product"] &
    ~transactions_qc["missing_price"] &
    ~transactions_qc["missing_date"] &
    transactions_qc["Quantity"].notna() &
    transactions_qc["Total_Cost"].notna()
)

usable_transactions = transactions_qc[usable_mask]
unusable_transactions = transactions_qc[~usable_mask]

print("All transactions:", transactions_qc.shape)
print("Usable transactions:", usable_transactions.shape)
print("Unusable transactions:", unusable_transactions.shape)

All transactions: (10000, 13)
Usable transactions: (1203, 13)
Unusable transactions: (8797, 13)

In [39]:
# Count combinations of issues (top reasons rows are unusable) in transactions csv
issue_cols = [
    "missing_company", "invalid_company",
    "missing_product", "invalid_product",
    "missing_price", "missing_date"
]

unusable_transactions[issue_cols].value_counts().head(10)

missing_company  invalid_company  missing_product  invalid_product  missing_price  missing_date
False            False            False            False            False          True            4448
True             True             False            False            False          True             553
False            False            True             True             False          True             540
                                  False            True             False          True             499
                 True             False            False            False          True             481
                 False            False            False            True           True             470
                                                                    False          False            282
                                  True             True             False          False            194
True             True             False            False            False          False            187
False            False            False            False            True           False            165
Name: count, dtype: int64

In [50]:
unusable_transactions = unusable_transactions.copy()

unusable_transactions["missing_qty"] = unusable_transactions["Quantity"].isna()
unusable_transactions["missing_total_cost"] = unusable_transactions["Total_Cost"].isna()

unusable_transactions[issue_cols + ["missing_qty", "missing_total_cost"]].value_counts().head(10)

missing_company  invalid_company  missing_product  invalid_product  missing_price  missing_date  missing_qty  missing_total_cost
False            False            False            False            False          True          False        False                 3577
True             True             False            False            False          True          False        False                  463
False            False            True             True             False          True          False        False                  434
                                  False            False            False          True          False        True                   414
                                                                                                 True         False                  411
                 True             False            False            False          True          False        False                  403
                 False            False            True             False          True          False        False                  398
                                                   False            True           True          False        False                  382
True             True             False            False            False          False         False        False                  158
False            False            True             True             False          False         False        False                  149
Name: count, dtype: int64

In [51]:
# check if Quantity / Total_Cost are the reason those "no-issue" rows are still unusable
unusable_transactions["missing_qty"] = unusable_transactions["Quantity"].isna()
unusable_transactions["missing_total_cost"] = unusable_transactions["Total_Cost"].isna()

unusable_transactions[
    issue_cols + ["missing_qty", "missing_total_cost"]
].value_counts().head(10)

missing_company  invalid_company  missing_product  invalid_product  missing_price  missing_date  missing_qty  missing_total_cost
False            False            False            False            False          True          False        False                 3577
True             True             False            False            False          True          False        False                  463
False            False            True             True             False          True          False        False                  434
                                  False            False            False          True          False        True                   414
                                                                                                 True         False                  411
                 True             False            False            False          True          False        False                  403
                 False            False            True             False          True          False        False                  398
                                                   False            True           True          False        False                  382
True             True             False            False            False          False         False        False                  158
False            False            True             True             False          False         False        False                  149
Name: count, dtype: int64

In [42]:
# Count how many unusable rows are only failing because of Total_Cost / Quantity (but IDs are valid) 
ids_ok = (
    ~unusable_transactions["missing_company"]
    & ~unusable_transactions["invalid_company"]
    & ~unusable_transactions["missing_product"]
    & ~unusable_transactions["invalid_product"]
)

unusable_only_calc_fields = unusable_transactions[
    ids_ok & (unusable_transactions["missing_qty"] | unusable_transactions["missing_total_cost"])
]

unusable_only_calc_fields.shape

(1268, 15)

In [43]:
unusable_only_calc_fields.head(10)

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost,missing_company,invalid_company,missing_product,invalid_product,missing_price,missing_date,missing_qty,missing_total_cost
0,1,88,6,NaN,2024-03-26,194379.147964,1075200.0,False,False,False,False,False,False,True,False
8,9,96,1,14.0,NaT,144758.783254,NaN,False,False,False,False,False,True,False,True
20,21,88,13,NaN,2024-09-08,210759.801449,392000.0,False,False,False,False,False,False,True,False
21,<NA>,25,18,2.0,NaT,123745.158042,NaN,False,False,False,False,False,True,False,True
22,23,46,17,NaN,NaT,160605.710632,1176000.0,False,False,False,False,False,True,True,False
25,<NA>,93,9,NaN,NaT,NaN,1792000.0,False,False,False,False,True,True,True,False
28,29,24,11,5.0,NaT,142284.834626,NaN,False,False,False,False,False,True,False,True
31,32,23,7,NaN,NaT,158091.287461,151200.0,False,False,False,False,False,True,True,False
45,46,78,6,3.0,NaT,177269.010741,NaN,False,False,False,False,False,True,False,True
48,49,60,9,6.0,NaT,113616.112037,NaN,False,False,False,False,False,True,False,True

In [44]:
# make sure these flags exist in transactions_qc (names must match)
transactions_qc["missing_qty"] = transactions_qc["Quantity"].isna()
transactions_qc["missing_total_cost"] = transactions_qc["Total_Cost"].isna()

# (for safety) ensure missing_price exists too
transactions_qc["missing_price"] = transactions_qc["Product_Price"].isna()

In [45]:
# Bucket A: Keep fixable rows
# Bucket B: drop the non-usable rows rows with broken relationships (missing/invalid company/product IDs)
broken_ids = unusable_transactions[
    unusable_transactions["missing_company"]
    | unusable_transactions["invalid_company"]
    | unusable_transactions["missing_product"]
    | unusable_transactions["invalid_product"]
]

broken_ids.shape

(3432, 15)

In [46]:
# Quick breakdown of why they are broken
broken_ids[["missing_company","invalid_company","missing_product","invalid_product"]].sum()

missing_company    1000
invalid_company    1879
missing_product    1000
invalid_product    1894
dtype: Int64

In [47]:
#done with the relatioship + flagging stage for transactions table

In [48]:
#create 3 output tables: transactions_clean, transactions_fixable, transactions_reject_broken
# 1) rows with broken IDs (must drop for relational integrity)
transactions_reject_broken = transactions_qc[
    transactions_qc["missing_company"]
    | transactions_qc["invalid_company"]
    | transactions_qc["missing_product"]
    | transactions_qc["invalid_product"]
].copy()

# 2) rows with valid IDs but missing calc fields (fixable bucket)
transactions_fixable = transactions_qc[
    ~(
        transactions_qc["missing_company"]
        | transactions_qc["invalid_company"]
        | transactions_qc["missing_product"]
        | transactions_qc["invalid_product"]
    )
    & (transactions_qc["missing_qty"] | transactions_qc["missing_total_cost"] | transactions_qc["missing_price"])
].copy()

# 3) clean/usable rows (valid IDs AND complete core fields)
transactions_clean = transactions_qc[
    ~(
        transactions_qc["missing_company"]
        | transactions_qc["invalid_company"]
        | transactions_qc["missing_product"]
        | transactions_qc["invalid_product"]
        | transactions_qc["missing_qty"]
        | transactions_qc["missing_total_cost"]
        | transactions_qc["missing_price"]
    )
].copy()

transactions.shape, transactions_clean.shape, transactions_fixable.shape, transactions_reject_broken.shape

((10000, 7), (4780, 15), (1788, 15), (3432, 15))

In [52]:
#save the clean to the cleaned_data folder
import os

os.makedirs("cleaned_data", exist_ok=True)

transactions_clean.to_csv("cleaned_data/clean_transactions.csv", index=False)
transactions_fixable.to_csv("cleaned_data/fixable_transactions.csv", index=False)
transactions_reject_broken.to_csv("cleaned_data/reject_broken_transactions.csv", index=False)

In [56]:
#relationship check (transactions_clean -> products)

missing_products_in_lookup = transactions_clean[
    ~transactions_clean["Product_ID"].isin(products["Product_ID"])
]

missing_products_in_lookup.shape, missing_products_in_lookup.head()

((0, 15),
 Empty DataFrame
 Columns: [Transaction_ID, Company_ID, Product_ID, Quantity, Transaction_Date, Product_Price, Total_Cost, missing_company, invalid_company, missing_product, invalid_product, missing_price, missing_date, missing_qty, missing_total_cost]
 Index: [])

In [57]:
# create quality check flags for products (copy only)

products_qc = products.copy()

products_qc["missing_product_id"] = products_qc["Product_ID"].isna()
products_qc["duplicate_product_id"] = products_qc["Product_ID"].duplicated(keep=False)

# Relationship flag: is this product referenced by clean transactions?
products_qc["referenced_in_transactions"] = products_qc["Product_ID"].isin(
    transactions_clean["Product_ID"]
)

In [58]:
# product output tables 

products_reject_bad_id = products_qc[
    products_qc["missing_product_id"] | products_qc["duplicate_product_id"]
].copy()
#product_orphan = valid Product_ID but not referenced (no relationship)
products_orphan = products_qc[
    ~products_qc["missing_product_id"]
    & ~products_qc["duplicate_product_id"]
    & ~products_qc["referenced_in_transactions"]
].copy()

products_clean = products_qc[
    ~products_qc["missing_product_id"]
    & ~products_qc["duplicate_product_id"]
    & products_qc["referenced_in_transactions"]
].copy()

products.shape, products_clean.shape, products_orphan.shape, products_reject_bad_id.shape

((20, 3), (18, 6), (0, 6), (2, 6))

In [55]:
# save products outputs to cleaned_data 

import os
os.makedirs("cleaned_data", exist_ok=True)

products_clean.to_csv("cleaned_data/clean_products.csv", index=False)
products_orphan.to_csv("cleaned_data/orphan_products.csv", index=False)
products_reject_bad_id.to_csv("cleaned_data/reject_bad_id_products.csv", index=False)

In [59]:
# relationship check (transactions_clean -> customers)

missing_customers_in_lookup = transactions_clean[
    ~transactions_clean["Company_ID"].isin(customers["Company_ID"])
]

missing_customers_in_lookup.shape, missing_customers_in_lookup.head()

((0, 15),
 Empty DataFrame
 Columns: [Transaction_ID, Company_ID, Product_ID, Quantity, Transaction_Date, Product_Price, Total_Cost, missing_company, invalid_company, missing_product, invalid_product, missing_price, missing_date, missing_qty, missing_total_cost]
 Index: [])

In [60]:
# create quality check flags for (copy only)


customers_qc = customers.copy()

customers_qc["missing_company_id"] = customers_qc["Company_ID"].isna()
customers_qc["duplicate_company_id"] = customers_qc["Company_ID"].duplicated(keep=False)

# Relationship flag: is this customer referenced by clean transactions?
customers_qc["referenced_in_transactions"] = customers_qc["Company_ID"].isin(
    transactions_clean["Company_ID"]
)

In [61]:
# 3) customers output tables

customers_reject_bad_id = customers_qc[
    customers_qc["missing_company_id"] | customers_qc["duplicate_company_id"]
].copy()

customers_orphan = customers_qc[
    ~customers_qc["missing_company_id"]
    & ~customers_qc["duplicate_company_id"]
    & ~customers_qc["referenced_in_transactions"]
].copy()

customers_clean = customers_qc[
    ~customers_qc["missing_company_id"]
    & ~customers_qc["duplicate_company_id"]
    & customers_qc["referenced_in_transactions"]
].copy()

customers.shape, customers_clean.shape, customers_orphan.shape, customers_reject_bad_id.shape

((100, 4), (90, 7), (0, 7), (10, 7))